#chordProgressionDisplay {
    width: 100%;
    height: 200px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--musegen-black);
    margin: 20px auto;
    padding-top: 15px;
    color: var(--musegen-white);
}
/* TODO: Center only the chord symbol vertically in the progression display, then place the name immediately after */
.chordDisplay {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.chordSymbolDisplay {
    display: grid;
    grid-template:
        "rootNote  upperFigure bassFigure"
        "rootNote  lowerFigure bassFigure"
        / max-content max-content max-content;
    place-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;
    gap: 0;
}

.rootNoteDisplay {
    font-size: 3em;
    margin: 0;
    padding: 0;
    grid-area: rootNote;
}

.upperFigureDisplay, .lowerFigureDisplay {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    grid-area: upperFigure, lowerFigure;
}

.bassFigureDisplay {
    font-size: 3em;
    margin: 0;
    padding: 0;
    grid-area: bassFigure;
}

.chordNameDisplay {
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none;
}