#chordProgressionDisplay {
    width: 90%;
    height: 150px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--musegen-black);
    color: var(--musegen-white);
    margin: 20px auto;
}

.chordDisplay {
    width: 80px;
    display: grid;
    grid-template:
        "rootNote upperFigure bassNote"
        "rootNote lowerFigure bassNote";
    place-items: center;
    grid-auto-columns: max-content;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.rootNoteDisplay {
    font-size: 3em;
    margin: 0;
    padding: 0;
    grid-area: rootNote;
}

.upperFigureDisplay, .lowerFigureDisplay {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    grid-area: upperFigure, lowerFigure;
}

.bassNoteDisplay {
    font-size: 3em;
    margin: 0;
    padding: 0;
    grid-area: bassNote;
}