<div id="header">
    <%- include('/partials/components/logo') %>
    <a class="btn fs-5" href="/generator">Chord Generator</a>
    <a class="btn fs-5" href="/projects">Projects</a>
    <a id="header-sign-in-button" class="btn fs-5" href="/sign-in">Sign in</a>
</div>