<!-- CSS container for all elements-->
<div class="container-fluid m-0 p-0">

<!-- header-->
<h1>Random Chord progression</h1>

<!-- displays key that user selects -->
<h2 id="keyDisplay">Key: C</h2>

<!-- id="romanNum" comes from genRomanNumeral function in romanNumGen.js-->
<!-- onclick runs function genRomanNumeral() from romanNumGen.js-->
<div id="chordProgressionDisplay">
    <div id="chord1" class="chordDisplay">
        <p id="rootNote1" class="rootDisplay">I</p>
        <p id="upperFigure1" class="upperFigureDisplay"></p>
        <p id="lowerFigure1" class="lowerFigureDisplay"></p>
    </div>

    <div id="chord2" class="chordDisplay">
        <p id="rootNote2" class="rootDisplay">V</p>
        <p id="upperFigure2" class="upperFigureDisplay"></p>
        <p id="lowerFigure2" class="lowerFigureDisplay"></p>
    </div>

    <div id="chord3" class="chordDisplay">
        <p id="rootNote3" class="rootDisplay">VI</p>
        <p id="upperFigure3" class="upperFigureDisplay"></p>
        <p id="lowerFigure3" class="lowerFigureDisplay"></p>
    </div>

    <div id="chord4" class="chordDisplay">
        <p id="rootNote4" class="rootDisplay">IV</p>
        <p id="upperFigure4" class="upperFigureDisplay"></p>
        <p id="lowerFigure4" class="lowerFigureDisplay"></p>
    </div>
</div>
<button onclick="genRomanNumeral()">Randomize root notes</button>
<button onclick="genInversions()">Randomize inversions</button>
<button onclick="clearInversions()">Clear inversions</button>

<!-- set of buttons that let the user select what key they want to be in-->
<br/>
<br/>
<button onclick="getKey('C')" data-key="C">C</button>
<button onclick="getKey('C#')" data-key="C#">C#/Db</button>
<button onclick="getKey('D')" data-key="D">D</button>
<button onclick="getKey('D#')" data-key="D#">D#/Eb</button>
<button onclick="getKey('E')" data-key="E">E</button>
<button onclick="getKey('F')" data-key="F">F</button>
<button onclick="getKey('F#')" data-key="F#">F#/Gb</button>
<button onclick="getKey('G')" data-key="G">G</button>
<button onclick="getKey('G#')" data-key="G#/Ab">G#/Ab</button>
<button onclick="getKey('A')" data-key="A">A</button>
<button onclick="getKey('A#')" data-key="A#">A#/Bb</button>
<button onclick="getKey('B')" data-key="B">B</button>