<!-- CSS container for all elements-->
<div class="container-fluid m-0 p-0">

<!-- header-->
<h1>Random Chord progression</h1>

<!-- displays key that user selects -->
<h2 id="rootKeyDisplay">Key: C</h2>
<h2 id="scaleDisplay">Scale: Ionian</h2>

<!-- id="romanNum" comes from genRomanNumeral function in romanNumGen.js-->
<!-- onclick runs function genRomanNumeral() from romanNumGen.js-->
<div id="chordProgressionDisplay"></div>
<button id="randomizeChordRootNotesButton">Randomize root notes</button>
<button id="randomizeChordQualitiesButton">Randomize qualities</button>
<button id="randomizeChordBassNotesButton">Randomize bass notes</button>
<button id="removeChordBassNotesButton">Clear bass notes</button>
<button id="toggleChordDisplayTypeButton">Toggle display type (alphabet vs. roman)</button>
<button id="addChordButton">Add a chord</button>
<!-- <button onclick="genInversions()">Randomize inversions</button> -->
<!-- <button onclick="clearInversions()">Clear inversions</button> -->
<!-- <button onclick="genBassNotes()">Randomize bass notes</button> -->

<br/>
<br/>
<form>
    <select id="setRootKeySelection">
        <option value="C">C</option>
        <option value="C#/Db">C#/Db</option>
        <option value="D">D</option>
        <option value="D#/Eb">D#/Eb</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="F#/Gb">F#/Gb</option>
        <option value="G">G</option>
        <option value="G#/Ab">G#/Ab</option>
        <option value="A">A</option>
        <option value="A#/Bb">A#/Bb</option>
    </select>
</form>

<!-- set of buttons that let the user select what scale they want to be in (In order of degrees)-->

<form>
    <select id="setScaleSelection">
        <option value="Ionian (Major)">Ionian (Major)</option>
        <option value="Dorian">Dorian</option>
        <option value="Phrygian">Phrygian</option>
        <option value="Lydian">Lydian</option>
        <option value="Mixolydian">Mixolydian</option>
        <option value="Aeolian (Minor)">Aeolian (Minor)</option>
        <option value="Locrain">Locrain</option>
    </select>
</form>

<br/>
<p id="wordDisplay"></p>