<!-- CSS container for all elements-->
<div class="container-fluid m-0 p-0">

<!-- header-->
<h1>Random Chord progression</h1>

<!-- displays key that user selects -->
<h2 id="rootKeyDisplay">Key: C</h2>
<h2 id="scaleDisplay">Scale: Ionian</h2>

<!-- id="romanNum" comes from genRomanNumeral function in romanNumGen.js-->
<!-- onclick runs function genRomanNumeral() from romanNumGen.js-->
<div id="chordProgressionDisplay"></div>
<button onclick="genRomanNumeral()">Randomize root notes</button>
<button onclick="genAlphabet()">Randomize root notes (Alphabet)</button>
<button onclick="incrementNumChords()">Click to change number of progressions (1-7)</button>
<button onclick="genInversions()">Randomize inversions</button>
<button onclick="clearInversions()">Clear inversions</button>
<button onclick="genBassNotes()">Randomize bass notes</button>

<br/>
<br/>
<form>
    <select onchange="setRootKey(this.value)">
        <option value="C">C</option>
        <option value="C#/Db">C#/Db</option>
        <option value="D">D</option>
        <option value="D#/Eb">D#/Eb</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="F#/Gb">F#/Gb</option>
        <option value="G">G</option>
        <option value="G#/Ab">G#/Ab</option>
        <option value="A">A</option>
        <option value="A#/Bb">A#/Bb</option>
    </select>
</form>

<br/>
<p id="wordDisplay"></p>

<!-- set of buttons that let the user select what scale they want to be in (In order of degrees)-->
<br/>
<br/>
<button onclick="setScale('Ionian (Major)')" data-key="Ionian (Major)">Ionian</button>
<button onclick="setScale('Dorian')" data-key="Dorian">Dorian</button>
<button onclick="setScale('Phrygian')" data-key="Phrygian">Phrygian</button>
<button onclick="setScale('Lydian')" data-key="Lydian">Lydian</button>
<button onclick="setScale('Mixolydian')" data-key="Mixolydian">Mixolydian</button>
<button onclick="setScale('Aeolian (Minor)')" data-key="Aeolian (Minor)">Aeolian</button>
<button onclick="setScale('Locrain')" data-key="Locrain">Locrain</button>
